## Final Project Submission

Please fill out:
* Student name: Boniface Mutwiri Kimutai
* Student pace: Hybrid 
* Instructor name: MaryAnn Mwikali


## Project overview
In this project it deals with a company that wants to go into a new business and start a new with different goals and expand there network. There main objective is to get into the aviation sector of the business world and expand there influence majorly on buying aeroplanes and using them for purposes. Mainly Private, military and Commercial purposes. Featuring categorized data on aircraft types, causes, and outcomes, it provides insightful synopses and lessons for the start of the businness.Thus due to the eagerness of the business to start they overlooked the risks accompanied by the airline business thus poor decision making. My project aims to look at the risks in the business and also easily search and filter information, supported by interactive visualization tools. This initiative enhances safety standards, serves as an educational resource, and facilitates research in aviation safety. By ensuring accurate data collection and ongoing maintenance, the project fosters a culture of safety and informed decision-making in the aviation industry.
  
## Business Understanding.
The Business at hand deals with airplanes by which is a large area of expertise and needs analysis.Targeting aviation professionals, researchers, regulatory bodies, and the general public, the database addresses the critical need for accessible information to identify trends and preventative measures. Its value lies in offering detailed synopses and categorized data that inform decision-making and improve safety protocols. Potential revenue streams include subscription services, partnerships with aviation organizations, and data licensing.The companies selling the airlines, the airports they will be operating in , the government of the country of base operations the crew workers and the passengers are all stakeholders in the business.

## Import Libraries for the Notebook.

For the project i am going to use the dataset stored on Kaggle. The data is stored in csv format (Aviation_Data.csv). I will import the necessary libararies to enable me read my data from the csv file, also I'll import the necessary libraries to assist me in editing and visualizing the data provided.Numpy will be helpful when I need to fast and precise statistical calculations. Pandas is crucial for creating my dataframes so as to see the structure of my data, and also  Matplotlib to help me visualize my outcomes in form of graphs.

In [2]:
# Your code here - remember to use markdown cells for comments as well!
#Importing Libraris 
#The %matplotlib inline command to help show plots inside my notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Import The Data

I will use the imported libraries above to read the contents of the csv file in folder named data to my notebook for analysis. Pandas is ideal for this since it has built in functions to read into files. I will create a variable 'df' where I will save my data. After saving the data inside my variable, I will go ahead and check the structure of our data by calling df.head() which shows us the preview of our data.It returns the first five rows of our dataframe since we imported our data in form a dataframe.

In [3]:
#Import data using pandas
# df is a variable
df = pd.read_csv('data/Aviation_Data.csv', low_memory=False)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Data Understanding

 For further analysis of the data, I will have to check using a function in pandas, .info(), thus knowing the length and the width of my data, also use the .shape function.This step is crucial for me as it builds base for the next step which is data cleaning.In time we can see the names of all columns, the type of data the column carries and the number of non null values.

In [13]:
#check for the shape of the data
df.shape

(90348, 31)

In [14]:
#Detailed information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [15]:
# Description of the data
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

# Data Cleaning

When doing my analysis on the dataset pertaining the aiplane business, i wanted to do data clening for the results i want to acheive for this project.In the data there are some missing values and i need to check for  Duplicates: Identifying and eliminating duplicate records and others during the data cleaning.

In [16]:
# copy of the original data
df_copy=df.copy()

In [17]:
# check th number of columns
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [18]:
#sum of missing values
df.isnull().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [19]:
# percentage of missing values
df.isnull().mean()*100

Event.Id                   1.614867
Investigation.Type         0.000000
Accident.Number            1.614867
Event.Date                 1.614867
Location                   1.672422
Country                    1.865011
Latitude                  61.944924
Longitude                 61.954886
Airport.Code              44.382831
Airport.Name              41.570372
Injury.Severity            2.721698
Aircraft.damage            5.150086
Aircraft.Category         64.263736
Registration.Number        3.072564
Make                       1.684597
Model                      1.716695
Amateur.Built              1.727764
Number.of.Engines          8.348829
Engine.Type                9.447913
FAR.Description           64.555939
Schedule                  86.073848
Purpose.of.flight          8.468367
Air.carrier               81.573471
Total.Fatal.Injuries      14.233851
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Uninjured            8.158454
Weather.Condition          6.586753
Broad.phase.of.flight     31.681941
Report.Status              8.677558
Publication.Date          18.471909
dtype: float64

In [4]:
# Dropping columns
df.drop(columns=['Latitude','Longitude','Schedule','Air.carrier','Airport.Code'], inplace = True)

In [5]:
# dropping columns
df.isnull().mean()*100

Event.Id                   1.614867
Investigation.Type         0.000000
Accident.Number            1.614867
Event.Date                 1.614867
Location                   1.672422
Country                    1.865011
Airport.Name              41.570372
Injury.Severity            2.721698
Aircraft.damage            5.150086
Aircraft.Category         64.263736
Registration.Number        3.072564
Make                       1.684597
Model                      1.716695
Amateur.Built              1.727764
Number.of.Engines          8.348829
Engine.Type                9.447913
FAR.Description           64.555939
Purpose.of.flight          8.468367
Total.Fatal.Injuries      14.233851
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Uninjured            8.158454
Weather.Condition          6.586753
Broad.phase.of.flight     31.681941
Report.Status              8.677558
Publication.Date          18.471909
dtype: float64

In [7]:
# don't put in actionable insights in the analysis
df.drop(columns = ['FAR.Description'],inplace=True)

In [8]:
# final confirmation of relevant columns
df.isnull().mean()*100

Event.Id                   1.614867
Investigation.Type         0.000000
Accident.Number            1.614867
Event.Date                 1.614867
Location                   1.672422
Country                    1.865011
Airport.Name              41.570372
Injury.Severity            2.721698
Aircraft.damage            5.150086
Aircraft.Category         64.263736
Registration.Number        3.072564
Make                       1.684597
Model                      1.716695
Amateur.Built              1.727764
Number.of.Engines          8.348829
Engine.Type                9.447913
Purpose.of.flight          8.468367
Total.Fatal.Injuries      14.233851
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Uninjured            8.158454
Weather.Condition          6.586753
Broad.phase.of.flight     31.681941
Report.Status              8.677558
Publication.Date          18.471909
dtype: float64

In [9]:
#check for duplicates in the dataset
df.duplicated().sum()

1390

In [10]:
# removal of the duplicates
df.drop_duplicates(inplace=True)

In [11]:
# confirmation of removal of the duplicates
df.shape

(88958, 25)

In [12]:
# conclusion of my cleaned data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88958 entries, 0 to 90347
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport.Name            52790 non-null  object
 7   Injury.Severity         87889 non-null  object
 8   Aircraft.damage         85695 non-null  object
 9   Aircraft.Category       32287 non-null  object
 10  Registration.Number     87572 non-null  object
 11  Make                    88826 non-null  object
 12  Model                   88797 non-null  object
 13  Amateur.Built           88787 non-null  object
 14  Number.of.Engines       82805 non-null  float64
 15  Engine.Type             81812 non-null  object
 16  Purpose.of.flight       82697 non-null  object
 17  Total.Fatal.Injuries    77488 non-null  float64
 18  Total.Serious.Injuries  76379 non-null  float64
 19  Total.Minor.Injuries    76956 non-null  float64
 20  Total.Uninjured         82977 non-null  float64
 21  Weather.Condition       84397 non-null  object
 22  Broad.phase.of.flight   61724 non-null  object
 23  Report.Status           82508 non-null  object
 24  Publication.Date        73659 non-null  object
dtypes: float64(5), object(20)
memory usage: 17.6+ MB

In [30]:
#Replace missing values with mean of the columns.
df.fillna(df.mean(), inplace=True)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,...,FAR.Description,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,Fatal(2),Destroyed,NaN,...,NaN,Personal,2.0,0.000000,0.000000,0.00000,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,Fatal(4),Destroyed,NaN,...,NaN,Personal,4.0,0.000000,0.000000,0.00000,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,Fatal(3),Destroyed,NaN,...,NaN,Personal,3.0,0.279881,0.357061,5.32544,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,Fatal(2),Destroyed,NaN,...,NaN,Personal,2.0,0.000000,0.000000,0.00000,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,Fatal(1),Destroyed,NaN,...,NaN,Personal,1.0,2.000000,0.357061,0.00000,VMC,Approach,Probable Cause,16-04-1980

In [14]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [16]:
# dropping rows
df.dropna(subset = df.select_dtypes(include=['object']).columns,inplace=True)

In [17]:
df.shape

(4476, 25)

In [18]:
df.isnull().mean()*100

Event.Id                   0.000000
Investigation.Type         0.000000
Accident.Number            0.000000
Event.Date                 0.000000
Location                   0.000000
Country                    0.000000
Airport.Name               0.000000
Injury.Severity            0.000000
Aircraft.damage            0.000000
Aircraft.Category          0.000000
Registration.Number        0.000000
Make                       0.000000
Model                      0.000000
Amateur.Built              0.000000
Number.of.Engines          0.111707
Engine.Type                0.000000
Purpose.of.flight          0.000000
Total.Fatal.Injuries      49.151028
Total.Serious.Injuries    48.100983
Total.Minor.Injuries      42.135836
Total.Uninjured           11.148347
Weather.Condition          0.000000
Broad.phase.of.flight      0.000000
Report.Status              0.000000
Publication.Date           0.000000
dtype: float64

# Interquartile Range

In [19]:
#locating outliers in the data
Q1 = df['Number.of.Engines'].quantile(0.25)
Q3 = df['Number.of.Engines'].quantile(0.75)
IQR = Q3 - Q1
outliers_a = df[(df['Number.of.Engines'] < (Q1 - 1.5 * IQR)) | (df['Number.of.Engines'] > (Q3 + 1.5 * IQR))]
outliers_a

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,HANOVER,Non-Fatal,Substantial,Airplane,...,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
25,20020917X01905,Accident,DCA82AA008,1982-01-03,"ASHLAND, VA",United States,HANOVER COUNTY,Fatal(8),Destroyed,Airplane,...,Reciprocating,Business,8.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,03-01-1983
26,20020917X01720,Accident,ATL82FA033,1982-01-03,"PINEHURST, NC",United States,MOORE COUNTY,Fatal(1),Destroyed,Airplane,...,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,03-01-1983
39,20020917X01906,Accident,DCA82AA009,1982-01-05,"ITHACA, NY",United States,TOMPKINS COUNTY,Fatal(2),Destroyed,Airplane,...,Reciprocating,Unknown,2.0,0.0,0.0,0.0,VMC,Approach,Probable Cause,05-01-1983
45,20020917X02423,Accident,MKC82DA016,1982-01-06,"ROLLA, MO",United States,DOWNTOWN,Non-Fatal,Substantial,Airplane,...,Reciprocating,Executive/corporate,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,06-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63834,20080123X00097,Accident,NYC08CA073,2007-12-12,"MUSCLE SHOALS, AL",United States,Muscle Shoals,Non-Fatal,Substantial,Airplane,...,Turbo Prop,Personal,NaN,NaN,NaN,2.0,VMC,Landing,Probable Cause,17-06-2019
63836,20080123X00094,Accident,NYC08CA072,2007-12-13,"LANCASTER, PA",United States,Lancaster Airport,Non-Fatal,Substantial,Airplane,...,Reciprocating,Personal,NaN,NaN,NaN,1.0,VMC,Approach,Probable Cause,28-02-2008
63841,20080213X00187,Accident,NYC08LA062B,2007-12-14,"NEW YORK, NY",United States,John F. Kennedy International,Non-Fatal,Substantial,Airplane,...,Turbo Fan,Positioning,NaN,NaN,NaN,5.0,IMC,Standing,Probable Cause,30-09-2009
63862,20080312X00298,Accident,MIA08CA046,2007-12-19,"PITTSBURGH, PA",United States,Alleghney County Airport,Non-Fatal,Substantial,Airplane,...,Turbo Jet,Ferry,NaN,NaN,NaN,2.0,VMC,Cruise,Probable Cause,31-03-2008
63899,20080108X00030,Accident,CHI08FA055,2007-12-27,"Traverse City, MI",United States,Cherry Capital Airport,Fatal(1),Destroyed,Airplane,...,Reciprocating,Personal,1.0,1.0,NaN,NaN,IMC,Approach,Probable Cause,05-08-2011

In [20]:
#locating outliers in the data
Q1 = df['Total.Fatal.Injuries'].quantile(0.25)
Q3 = df['Total.Fatal.Injuries'].quantile(0.75)
IQR = Q3 - Q1
outliers_b = df[(df['Total.Fatal.Injuries'] < (Q1 - 1.5 * IQR)) | (df['Total.Fatal.Injuries'] > (Q3 + 1.5 * IQR))]
outliers_b

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,HEARNE MUNICIPAL,Fatal(1),Destroyed,Airplane,...,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983
25,20020917X01905,Accident,DCA82AA008,1982-01-03,"ASHLAND, VA",United States,HANOVER COUNTY,Fatal(8),Destroyed,Airplane,...,Reciprocating,Business,8.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,03-01-1983
26,20020917X01720,Accident,ATL82FA033,1982-01-03,"PINEHURST, NC",United States,MOORE COUNTY,Fatal(1),Destroyed,Airplane,...,Reciprocating,Personal,1.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,03-01-1983
37,20020917X02304,Accident,LAX82FUM06,1982-01-05,"RAMONA, CA",United States,RAMONA,Fatal(3),Destroyed,Airplane,...,Reciprocating,Business,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,05-01-1983
39,20020917X01906,Accident,DCA82AA009,1982-01-05,"ITHACA, NY",United States,TOMPKINS COUNTY,Fatal(2),Destroyed,Airplane,...,Reciprocating,Unknown,2.0,0.0,0.0,0.0,VMC,Approach,Probable Cause,05-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63828,20071219X01978,Accident,SEA08FA042,2007-12-10,"Salmon, ID",United States,Lemhi County Airport,Fatal(2),Destroyed,Airplane,...,Turbo Prop,Executive/corporate,2.0,NaN,NaN,2.0,IMC,Takeoff,Probable Cause,04-08-2011
63833,20071227X01998,Accident,NYC08LA059,2007-12-12,"STATESVILLE, NC",United States,Statesville Regional,Fatal(1),Substantial,Airplane,...,Reciprocating,Personal,1.0,0.0,0.0,0.0,VMC,Takeoff,Probable Cause,14-01-2009
63871,20080102X00007,Accident,CHI08FA053,2007-12-20,"Springfield, IL",United States,Abraham Lincoln Capital Arpt,Fatal(3),Destroyed,Airplane,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Approach,Probable Cause,10-05-2010
63899,20080108X00030,Accident,CHI08FA055,2007-12-27,"Traverse City, MI",United States,Cherry Capital Airport,Fatal(1),Destroyed,Airplane,...,Reciprocating,Personal,1.0,1.0,NaN,NaN,IMC,Approach,Probable Cause,05-08-2011
63909,20080114X00045,Accident,LAX08FA043,2007-12-30,"PASO ROBLES, CA",United States,Paso Robles Airport,Fatal(1),Substantial,Airplane,...,Reciprocating,Personal,1.0,NaN,NaN,NaN,VMC,Maneuvering,Probable Cause,20-06-2014

In [21]:
#locating outliers in the data
Q1 = df['Total.Serious.Injuries'].quantile(0.25)
Q3 = df['Total.Serious.Injuries'].quantile(0.75)
IQR = Q3 - Q1
outliers_c = df[(df['Total.Serious.Injuries'] < (Q1 - 1.5 * IQR)) | (df['Total.Serious.Injuries'] > (Q3 + 1.5 * IQR))]
outliers_c

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
44,20020917X01651,Accident,ANC82FA012,1982-01-05,"BETHEL, AK",United States,BETHEL,Non-Fatal,Substantial,Airplane,...,Reciprocating,Unknown,0.0,2.0,0.0,0.0,VMC,Takeoff,Probable Cause,05-01-1983
55,20020917X01881,Accident,CHI82FA024,1982-01-08,"NEW PHILADELPHI, OH",United States,HARRY CLEVER FIELD,Fatal(1),Destroyed,Airplane,...,Reciprocating,Personal,1.0,1.0,0.0,0.0,VMC,Approach,Probable Cause,08-01-1983
63,20020917X02246,Accident,LAX82DVG12,1982-01-09,"NAPA, CA",United States,NAPA,Non-Fatal,Substantial,Airplane,...,Reciprocating,Personal,0.0,1.0,0.0,3.0,VMC,Landing,Probable Cause,09-01-1983
68,20020917X02341,Accident,MIA82DA032,1982-01-10,"OKEECHOBEE, FL",United States,LOWERY DAVIS,Non-Fatal,Destroyed,Airplane,...,Reciprocating,Unknown,0.0,2.0,0.0,0.0,UNK,Approach,Probable Cause,10-01-1983
76,20020917X01965,Accident,DEN82FA017,1982-01-11,"RIVERTON, WY",United States,RIVERTON REGIONAL,Fatal(4),Destroyed,Airplane,...,Reciprocating,Personal,4.0,1.0,1.0,0.0,IMC,Takeoff,Probable Cause,11-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63776,20071130X01879,Accident,DFW08FA038,2007-11-27,"Tulsa, OK",United States,Richard Lloyd Jones airport,Fatal(2),Destroyed,Airplane,...,Reciprocating,Personal,2.0,1.0,0.0,0.0,VMC,Climb,Probable Cause,28-12-2008
63777,20080109X00035,Accident,NYC08CA048,2007-11-28,"LATROBE, PA",United States,Arnold Palmer Regional Airport,Non-Fatal,Substantial,Airplane,...,Reciprocating,Personal,NaN,1.0,NaN,NaN,VMC,Landing,Probable Cause,31-03-2008
63806,20080122X00089,Accident,CHI08CA020,2007-12-05,"HAZELTON, IN",United States,Snider Field,Non-Fatal,Substantial,Helicopter,...,Reciprocating,Personal,NaN,1.0,NaN,NaN,VMC,Landing,Probable Cause,28-02-2008
63847,20071226X01986,Accident,DEN08LA041,2007-12-15,"Phillipsburg, KS",United States,Phillipsburg Municipal,Non-Fatal,Destroyed,Airplane,...,Reciprocating,Personal,0.0,1.0,1.0,0.0,VMC,Cruise,Probable Cause,24-12-2008
63899,20080108X00030,Accident,CHI08FA055,2007-12-27,"Traverse City, MI",United States,Cherry Capital Airport,Fatal(1),Destroyed,Airplane,...,Reciprocating,Personal,1.0,1.0,NaN,NaN,IMC,Approach,Probable Cause,05-08-2011

In [23]:
#locating outliers in the data
Q1 = df['Total.Uninjured'].quantile(0.25)
Q3 = df['Total.Uninjured'].quantile(0.75)
IQR = Q3 - Q1
outliers_d = df[(df['Total.Uninjured'] < (Q1 - 1.5 * IQR)) | (df['Total.Uninjured'] > (Q3 + 1.5 * IQR))]
outliers_d

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
46,20020917X02157,Accident,LAX82DA039,1982-01-06,"MAMMOTH LAKES, CA",United States,MAMMOTH LAKES,Non-Fatal,Substantial,Helicopter,...,Turbo Shaft,Business,0.0,0.0,0.0,6.0,VMC,Taxi,Probable Cause,06-01-1983
69,20020917X02158,Accident,LAX82DA041,1982-01-10,"BULLHEAD CITY, AZ",United States,BULLHEAD CITY,Non-Fatal,Destroyed,Airplane,...,Reciprocating,Personal,0.0,0.0,0.0,4.0,VMC,Landing,Probable Cause,10-01-1983
86,20020917X01996,Accident,FTW82DA040,1982-01-13,"HOBBS, NM",United States,LEA COUNTY HOBBS,Non-Fatal,Substantial,Airplane,...,Reciprocating,Personal,0.0,0.0,0.0,4.0,VMC,Takeoff,Probable Cause,13-01-1983
93,20020917X02538,Accident,NYC82FA021,1982-01-15,"JAMAICA, NY",United States,JOHN F. KENNEDY INT'L,Non-Fatal,Substantial,Airplane,...,Turbo Prop,Unknown,0.0,1.0,2.0,12.0,VMC,Takeoff,Probable Cause,15-01-1983
129,20020917X02397,Accident,MIA82FA034,1982-01-19,"MIAMI, FL",United States,MIAMI INTL,Non-Fatal,Substantial,Airplane,...,Turbo Prop,Unknown,0.0,0.0,0.0,6.0,VMC,Landing,Probable Cause,19-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63747,20071207X01914,Accident,MIA08CA018,2007-11-18,"MCKINNON, TN",United States,Houston County,Non-Fatal,Substantial,Airplane,...,Reciprocating,Personal,NaN,NaN,NaN,4.0,VMC,Landing,Probable Cause,20-12-2007
63796,20071206X01909,Accident,SEA08LA041,2007-12-02,"COEUR D'ALENE, ID",United States,Coeur d'Alene Air Terminal,Non-Fatal,Substantial,Airplane,...,Turbo Fan,Personal,NaN,NaN,NaN,8.0,VMC,Landing,Probable Cause,24-03-2010
63841,20080213X00187,Accident,NYC08LA062B,2007-12-14,"NEW YORK, NY",United States,John F. Kennedy International,Non-Fatal,Substantial,Airplane,...,Turbo Fan,Positioning,NaN,NaN,NaN,5.0,IMC,Standing,Probable Cause,30-09-2009
63877,20080124X00101,Accident,NYC08CA068,2007-12-22,"ALTON, NH",United States,Locke Lake Airport,Non-Fatal,Substantial,Airplane,...,Reciprocating,Personal,NaN,NaN,NaN,4.0,VMC,Maneuvering,Probable Cause,28-02-2008
63896,20071231X02008,Incident,DEN08IA044,2007-12-26,"Aspen, CO",United States,Aspen/Pitkin County,Incident,Minor,Airplane,...,Reciprocating,Personal,0.0,0.0,0.0,4.0,VMC,Climb,Probable Cause,24-12-2008

# Handling Missing Values

In [24]:
# filling missing values of the data
prime_columns = ["Number.of.Engines", "Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured"]
prime_columns

['Number.of.Engines',
 'Total.Fatal.Injuries',
 'Total.Serious.Injuries',
 'Total.Minor.Injuries',
 'Total.Uninjured']

In [26]:
# returning missing values with their median
df[prime_columns] = df[prime_columns].fillna(df[prime_columns].median())

In [27]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,4476.000000,4476.000000,4476.000000,4476.000000,4476.000000
mean,1.128239,0.232574,0.127569,0.272788,2.579982
std,0.384153,3.538105,0.626448,1.157142,16.609954
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,1.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,4.000000,228.000000,26.000000,42.000000,588.000000

In [28]:
# confirming missing values
df.isnull().sum()

Event.Id                  0
Investigation.Type        0
Accident.Number           0
Event.Date                0
Location                  0
Country                   0
Airport.Name              0
Injury.Severity           0
Aircraft.damage           0
Aircraft.Category         0
Registration.Number       0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Report.Status             0
Publication.Date          0
dtype: int64