## Final Project Submission

Please fill out:
* Student name: Boniface Mutwiri Kimutai
* Student pace: Hybrid 
* Instructor name: MaryAnn Mwikali


## Project overview
In this project it deals with a company that wants to go into a new business and start a new with different goals and expand there network. There main objective is to get into the aviation sector of the business world and expand there influence majorly on buying aeroplanes and using them for purposes. Mainly Private, military and Commercial purposes. Featuring categorized data on aircraft types, causes, and outcomes, it provides insightful synopses and lessons for the start of the businness.Thus due to the eagerness of the business to start they overlooked the risks accompanied by the airline business thus poor decision making. My project aims to look at the risks in the business and also easily search and filter information, supported by interactive visualization tools. This initiative enhances safety standards, serves as an educational resource, and facilitates research in aviation safety. By ensuring accurate data collection and ongoing maintenance, the project fosters a culture of safety and informed decision-making in the aviation industry.


## Import Libraries for the Notebook.

For the project i am going to use the dataset stored on Kaggle. The data is stored in csv format (Aviation_Data.csv). I will import the necessary libararies to enable me read my data from the csv file, also I'll import the necessary libraries to assist me in editing and visualizing the data provided.Numpy will be helpful when I need to fast and precise statistical calculations. Pandas is crucial for creating my dataframes so as to see the structure of my data, and also  Matplotlib to help me visualize my outcomes in form of graphs.

In [1]:
# Your code here - remember to use markdown cells for comments as well!
#Importing Libraris 
#The %matplotlib inline command to help show plots inside my notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Import The Data

I will use the imported libraries above to read the contents of the csv file in folder named data to my notebook for analysis. Pandas is ideal for this since it has built in functions to read into files. I will create a variable 'df' where I will save my data. After saving the data inside my variable, I will go ahead and check the structure of our data by calling df.head() which shows us the preview of our data.It returns the first five rows of our dataframe since we imported our data in form a dataframe.

In [2]:
#Import data using pandas
# df is a variable
df = pd.read_csv('data/Aviation_Data.csv', low_memory=False)
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980